# Byte-compiled files
__pycache__/
*.py[cod]

# Virtual environment
venv/
env/

# Logs
*.log

# IDE-specific settings
.vscode/
.idea/

# System files
.DS_Store
Thumbs.db

# Other ignored files
*.env
.vercel
